#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple 
empty_tuple =()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello",3.14,True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [6]:
## Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5)

In [7]:
numbers[3]

4

In [8]:
numbers[2]

3

In [9]:
print(numbers[2])
print(numbers[-1])

3
5

In [10]:
numbers[0:3]

(1, 2, 3)

In [11]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [12]:
## Tuple Operations

Concatination_tuple =  numbers + mixed_tuple
print(Concatination_tuple)

(1, 2, 3, 4, 5, 1, 'Hello', 3.14, True)

In [13]:
mixed_tuple * 3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)